.navContainer {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 137, 202);
}
.title {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.linkContainer {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}
.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
}
.link:hover,
.link:focus,
.title:hover,
.title:focus {
  text-decoration: underline;
}
